* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body  {
    font-family: tahoma, sans-serif;
    line-height: 1.6;
    background-color: #faf5ee;
}

html {
     scroll-behavior: smooth;
}

.name {
    font-family: verdana;
    margin: 0 20px;
    transition: 0.3s ease, color 0.4s ease;

}

#name:target .name {
     transform: scale(1.1);
     color: #522c00;
}

.hero {
    max-width: 1100px;
    width: 95%;
    margin: 0 auto;
    padding: 40px 20px;
}

.hero h1 {
    text-align: center;
    margin-bottom: 20px;
    font-family: georgia;
    font-size: 1.5rem;
    color: #522c00
}

.hero img {
    width: 95%;
    height: auto;
}

.hero nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    gap: 10px;
    flex-wrap: wrap;  
    align-items: center;  
}

nav ul li {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(129, 90, 7, 0.514);
}

nav ul a {
    text-decoration: none;
    color: #f3f3f3;
}

nav ul a:hover {
    color:  #ffdca8;
} 


.hero-content {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    flex-wrap: nowrap;
}

.hero img {
    border-radius: 8px;
    max-width: 350px;
    width: 100%;
    height: auto;
    object-fit: cover;
    margin: 30px 0 0 20px;
}

.hero img:hover {
     box-shadow: 8px 4px 30px 1px#522c0060;
     transform: scale(1.05);
    transition: 0.3s ease;

}





h2 {
    text-align: center;
    color: #522c00;
    font-family: georgia;
    margin: 20px;
}

.about-me p {
    text-align: justify;
    margin: 40px 30px;

}

.about-me {
    transition: transform 0.4s ease, color 0.4s ease;
}

#about-me:target .about-me {
    transform: scale(1.1);
    color: red;
}

.my-skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.skills {
    display: flex;
    flex-wrap: nowrap;
    gap: 100px;
    margin: 50px 50px;
    align-items: flex-end;
    justify-content: center;
    color: #f3f3f3;
}

.tech-skills {
    margin: 10px 20px;
    padding: 10px;
    width: 300px;
    border-radius: 15px;
    transform: rotate(-5deg);
    background-color: rgba(182, 141, 54, 0.692);

}

.tech-skills:hover {
     box-shadow: 8px 4px 30px 1px#522c0060;
     transform: scale(1.05);
    transition: 0.3s ease;
}

.soft-skills {
     margin: 10px 20px;
    padding: 10px;
    width: 300px;
    border-radius: 15px;
    transform: rotate(5deg);
    background-color: rgba(182, 116, 54, 0.692);
}

.soft-skills:hover {
     box-shadow: 8px 4px 30px 1px#522c0060;
     transform: scale(1.05);
    transition: 0.3s ease;
}


    ul li {
    list-style: none;
}

.experience {
    margin: 20px 30px;
    text-align: justify;
}

.designer, .it, .freelance {
    padding: 15px;
    border: 3px dotted #522c004b;
    margin-bottom: 10px;
    border-radius: 20px;
}


.projects {
    max-width: 1100px;
    margin: 60px auto;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

.the-project {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
    margin-bottom: 40px;
}


.projects img {
    width: 250px;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;  
    
}




.project1 {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}  



.project2 {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



figcaption {
    text-align: center;
    font-weight: bold;
}

details {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

summary {
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    padding: 5px;
    margin: 15px;
    width: 150px;
    background-color: rgba(182, 141, 54, 0.692);
    color: #fff2e3;
    border-radius: 20px;
    
}


summary:hover {
    box-shadow: 8px 4px 10px 1px rgba(182, 141, 54, 0.692);
     background-color: rgba(182, 142, 54, 0.199);
     transform: scale(110%);
     cursor: pointer;
      color: rgba(182, 141, 54, 0.692);
      transition: 0.3s ease;
}


.gallery {
   max-width: 1100px;
   margin: 60px auto;
   padding: 0  20px;
    
}

.galleryimg {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;

}

.gallery img {
    display: flex;
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    
}

.education {
    margin: 20px auto;
    text-align: center;
    font-size: 1.2em;
    background-color: #ffdca85e;
    padding: 5px;
    width: 100%;
}

.contact {
    margin: 20px auto;
    text-align: center;
    font-size: 1.2em;
    transform: rotate(-0.5deg);
    background-color: #ffdca82a;
    padding: 5px;
    width: 100%;
}

a {
    text-decoration: none;
    color: #8a4a02;
}

a:hover{
    color: #d37102;
}


@media (max-width: 768px) {
    .hero-content {
        flex-direction: column;
        text-align: center;
    }

    .project-card {
        flex-direction: column;
        text-align: center;
    }
}